/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

/*Фикс, чтобы надпись Food. LLC была вверху в шапке*/
div.navbar-brand {
    margin-top: -30px;
}

/*Фикс, чтобы надпись Food. LLC была слева в шапке*/
#header-nav .container {
    margin-left: 0;
    /*padding-left: 5px;*/
}

/*Фикс, чтобы кнопка меню в мобильном виде не уезжала вниз шапки*/
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -10px;
}

/*Кнопки меню*/
#nav-list a {
    color: #951C49; /*фоновый цвет*/
    text-align: center; /*выравнивание по центру*/
    width: 200px; /*четкая ширина и марджин ниже добавлен для того, чтобы у кнопок размер был меньше, чтобы фон
    при наведении был не на всю ширину страницы, а поменьше*/
    margin: auto;
}

#nav-list a:hover {
    background: #E7E7E7; /*фоновый цвет при наведении*/
}

/*#nav-list a span {*/
/*    font-size: 18em; !*увеличиваем размер иконки у свернутых пунктов меню на 80% - не работает, т.к. спан я закоментил*!*/
/*}*/

/*цвет границ вокруг кнопки с тремя полосками и цвет самих полосок в кнопке - хз, надо ли это вообще, если что, потом удалю*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

/**********3 секции************/
h2, p {
    padding: 0 10px; /*отступы для заголовка и абзаца*/
}

h2 {
    margin-bottom: 0; /*отступ между заголовком и абзацем*/
}

.row .container p, .row .container h2{
    background-color: wheat;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    #collapsable-nav a { /* Размер шрифта у строчек меню, которое сворачивается - делаем больше на 20%*/
        font-size: 1.2em;
    }
}