/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

/*Фикс, чтобы надпись Food. LLC была вверху в шапке*/
div.navbar-brand {
    margin-top: -30px;
}

/*Фикс, чтобы надпись Food. LLC была слева в шапке*/
#header-nav .container {
    margin-left: 0;
    /*padding-left: 5px;*/
}

/*Фикс, чтобы кнопка меню в мобильном виде не уезжала вниз шапки*/
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -10px;
}